<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <title>Virtual Presence Robot v2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	    <script src="{{ url_for('static', filename='js/adapter.js') }}"></script>
        <script src="{{ url_for('static', filename='js/signalling.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
